h1{
    color:rgb(255, 0, 191); 
    font-size: 65px;
    text-align: center;
}
h2{
    color:rgb(255, 0, 0);
}
h3{
    color:rgb(0, 47, 255);
}
h4{
    color:rgb(0, 38, 255);
}
body{
    color: rgb(255, 31, 188);
    font-size:20px ;
}
    
