h1{
    color:rgb(255, 0, 191); 
    font-size: 65px;
    text-align: center;
}
h2{
    color:rgb(255, 0, 0);
}
h3{
    color:rgb(72, 14, 138);
}
h4{
    color:rgb(49, 19, 158);
}
body{
    background: linear-gradient(rgb(190, 108, 211),rgb(196, 77, 196),rgb(223, 72, 228));
}
    
